* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherist;
}

input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial;
  width: 100%;
  font-size: 14px;
  color: #505050;
  padding-top: 50px;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.wrapper-today {
  width: 15%;
  display: flex;
  flex-direction: column;
}

.weather__title, .weather__icon-and-temperature {
  font-size: 25px;
  font-weight: 700;
}

.weather__title {
  margin-bottom: 20px;
}

.weather__icon-and-temperature {
  display: flex;
}

.weather__icon {
  height: 70px;
  width: 70px;
}
.weather__icon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.weather__temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.weather-date-today {
  display: flex;
  margin-bottom: 10px;
}
.weather-date-today div {
  margin-right: 7px;
}

.weather__table {
  width: 100%;
}
.weather__table table {
  width: 100%;
  border-collapse: collapse;
}
.weather__table table tr:nth-child(odd) {
  background: #f9f9f9;
}
.weather__table table td {
  border: 1px solid #dddddd;
  padding: 8px 5px;
}
.weather__table table td:first-child {
  width: 30%;
}

.wrapper-five-days {
  width: 40%;
  margin-top: 30px;
}

.weather-days {
  width: 100%;
}
.weather-days__title {
  border: 1px solid #dddddd;
  display: flex;
  background: whitesmoke;
  padding: 8px 8px;
  font-weight: 700;
}
.weather-days__title div {
  margin-right: 6px;
}

.weather-day-time__data {
  display: flex;
  align-items: center;
  padding: 5px 0px 10px 9px;
  border-bottom: 1px solid #dddddd;
}
.weather-day-time__data:last-child {
  border-bottom: none;
}

.weather-day__time-and-image {
  display: flex;
  width: 30%;
}

.weather-day__data-deg {
  display: flex;
  margin-bottom: 3px;
}

.weather-day__data-data {
  display: flex;
}
.weather-day__data-data div {
  margin-right: 7px;
}

.weather-day-deg {
  border-radius: 10px;
  background: #999999;
  padding: 2px 8px;
  color: white;
  margin-right: 9px;
  font-weight: 700;
}

.weather-day-weath {
  font-style: italic;
}

.weather-day__icon {
  height: 60px;
  width: 60px;
}
.weather-day__icon img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.weather-day__hours {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text {
  color: #da6c22;
}

.weather-days__title {
  margin-top: -1px;
}